body {
    background-color: green;
    /*margin: auto;*/
}

.black-keys kbd {
    color: white;
    display: inline-block;
    background-color: black;
    border: solid black;
    margin: auto;
    padding: 100px 15px 10px;
    position: relative;
    left: 100px;
}

.white-keys kbd {
    color: black;
    display: inline-block;
    font-size: 15px;
    padding: 200px 30px 20px;
    background-color: white;
    border: solid black;
    margin: auto;
    position: relative;
}

.container {
    margin: auto;
    position: center;
}
